body{
  width: 60%;
  margin: 0 auto;
  font-family: monospace;
  font-size: 20px;
}

h2{
  //font-family: sans-serif;
  font-size: 36px;
}

dl{
  font-weight: bold;
}

p{
  margin-bottom: 40px;
}

p::before{
  content: ' \2192  ';
}

a{
color: grey;
text-decoration: none;
}
