body {
  height: 200%;
}

div#content{
  position: fixed;
}

div.inch-tester{
  width: 1in;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
div.inch-tester::after{
  content: 'one inch?';
}
div.pixel-tester{
  width: 1px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
div.pixel-tester::after{
  content: 'one pixel?';
}
div.cm-tester{
  width: 1cm;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
div.cm-tester::before{
  content: 'one cm?';
}
