body {
  height: 200%;
}

div#resize{
  position: absolute;
  left: 10;
  top: 10;
  width: 50px;
  resize: both;
  border: 1px solid black;
  height: 100px;
  overflow: hidden;
}

div#content{
  position: fixed;
}

div.bubble{
  font-family: monospace;
  position: fixed;
  top: 10;
  width: 300px;
  right: 10;
  background-color: lightblue;
  padding: 20px;
  border-radius: 5px;
}
