body {
  height: 200%;
}

div#resize{
  position: absolute;
  left: 10;
  top: 10;
  width: 50px;
  resize: both;
  border: 1px solid black;
  height: 100px;
  overflow: hidden;
}

div#content{
  position: fixed;
}
